body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 10px;
}

.panel {
    text-align: center;
    margin: 10px;
}

#map {
    height: 500px;
    width: 90%;
    margin: auto;
    border: 2px solid #444;
}

#resultado {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}
