<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Rutas - Trufis</title>

    <link rel="stylesheet" href="/static/estilos.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
</head>

<body>

<div id="contenedor-general">

    <!-- PANEL IZQUIERDO -->
    <div id="panel">
        <h2>Rutas de Trufi</h2>

        <label>Origen:</label>
        <input type="text" id="origen" placeholder="Ej: Ceja El Alto">

        <label>Destino:</label>
        <input type="text" id="destino" placeholder="Ej: Plaza San Francisco">

        <button id="btnBuscarRuta">Buscar Ruta</button>
        <button id="btnCalcular">Calcular Costo</button>
        <button id="btnReiniciar">Reiniciar</button>

        <div id="resultado"></div>

        <h3>Historial</h3>
        <ul id="historial"></ul>
    </div>

    <!-- RESIZER -->
    <div id="resizer"></div>

    <!-- MAPA -->
    <div id="map"></div>

</div>

<script src="/static/js/mapa.js"></script>

</body>
</html>
